h1{
	color: blue;
	background-color: lightgrey;
	word-spacing: 420px;
}

.p1{
	font-size: 50 px;
}

.div{
	width: 60%;
	height: 80%;
	margin: 0 auto;
	border: 5px solid #ddd;

}











